.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form{
  margin: 10px;
}
h1{
  text-align: center;
}
img{
  width: 250px;
  height: 250px;
  
}
.cardstyl{
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.moviesdiv{
  display: inline-block;
  margin: 10px;
}
/* .main{
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlHbz61tlCLB8uXLUyTdCuIpmVjxgp2BU7NA&usqp=CAU);
} */